<!-- head.html -->

<meta charset="UTF-8">
<title>{{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">

<meta property="og:title" content="Z. Wilde's Fratelli, a men's chorus" />
<meta property="og:description" content="Z. Wilde's Fratelli is a chorus of gay men and their allies in Santa Barbara, CA, seeking to create musical experiences that inspire compassion, community, pride and activism." />

<meta property="fb:admins" content="pconrad"/>
<meta property="fb:app_id" content="1158567584256465" />

<meta property="og:type" content="website" />
<meta property="og:url" content="http://sbfratelli.org" />
<meta property="og:image"
      content="http://sbfratelli.org/static/images/logo_200x200.png" />

<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.baseurl }}/css/fratelli.css">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />


<meta name="description" content="Z. Wilde's Fratelli is a chorus of gay men and their allies in Santa Barbara, CA, seeking to create musical experiences that inspire compassion, community, pride and activism." />
<meta name="keywords" content="gay,chorus,santa barbara,gay men's chorus,men's chorus,music,singers,lgbtq,concert,california" />
<meta name="robots" content="index,follow" />



<!-- end head.html -->
