<footer class="site-footer">
  <div class="group-photo" onclick="location.href='/group_photo';"></div>
  <p class="site-footer-about"><i>Z.&nbsp;Wilde's Fratelli</i> is a chorus of gay men and their allies in Santa Barbara, CA, seeking to create musical experiences that inspire compassion, community, pride and activism.</p>

  <div class="fb-share-button"
       data-href="http://sbfratelli.org"
       data-layout="button_count" data-size="small"
       data-mobile-iframe="true">
    <a class="fb-xfbml-parse-ignore"
       target="_blank"
       href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsbfratelli.org%2F&amp;src=sdkpreparse">Share</a>
    and like us on
    <a href="https:/www.facebook.com/FratelliAMensChorus/">Facebook</a>
  </div>

</footer>
