<section class="page-header">
  <div class="page-header-image"></div>

  <h2 class="project-prefix">{{ site.title_prefix }}</h2>
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <!-- <a href="#" class="btn">View on GitHub</a> -->
  <a href="/" class="btn">Home</a>
  <a href="/about" class="btn">About Us</a>
  <a href="/concerts" class="btn">Hear Us</a>
  <a href="/auditions" class="btn">Join Us</a>
  <a href="/support" class="btn">Support Us</a>
  <a href="{{ site.facebook.url }}" class="btn">Facebook</a>
  <a href="/media" class="btn">Media</a>
</section>
