<footer class="site-footer">
  <div class="group-photo" onclick="location.href='/group_photo';"></div>
  <p class="site-footer-about"><i>Z.&nbsp;Wilde's Fratelli</i> is a chorus of gay men and their allies in Santa Barbara, CA, seeking to create musical experiences that inspire compassion, community, pride and activism.</p>

  <div class="fb-share-button"
       data-href="http://sbfratelli.org"
       data-layout="button_count" data-size="small"
       data-mobile-iframe="true">
    <a class="fb-xfbml-parse-ignore"
       target="_blank"
       href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsbfratelli.org%2F&amp;src=sdkpreparse">Share</a>
    and like us on
    <a href="https:/www.facebook.com/FratelliAMensChorus/">Facebook</a>
  </div>

  <div class="privacy-policy">Copyright 2017, Z. Wilde's Fratelli.  <a href="//www.iubenda.com/privacy-policy/8131135" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></div>
  
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99714324-1', 'auto');
  ga('send', 'pageview');

</script>
